.git
.gitignore
.github
.gitattributes
.editorconfig
.env
.env.example
node_modules
vendor
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
bootstrap/cache/**
public/hot
public/storage
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo
*~
